<h1>Edit a Genre</h1>

<form action=/genres/<%= @genres.id %> method="post">
<input type = "hidden" name="_method" value = "patch"/>

<label>Genre Name <input value=<%=@genres.name%> type="text" name="name"/> </label>

<input type="submit" value="Submit">


</form>
