<h1>Edit a Artist</h1>

<form action=/artists/<%= @artists.id %> method="post">
<input type = "hidden" name="_method" value = "patch"/>

<label>Artist Name <input value=<%=@artists.name%>type= "text" name="name"/> </label>

<input type="submit" value="Submit">


</form>
